/* Styles for the Procurement Forecast System */

body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 150px;
}

.pfs-splash-h1 {
    color: #fff;
    font-size: 4.5rem;
    font-weight: 100;
    margin-top: 100px;
    margin-bottom: 200px;
    text-shadow: 1px 2px 10px #333;
}
.pfs-splash-h3 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 100;
    margin-bottom: 30px;
    text-shadow: 1px 3px 6px #333;
}

.pfs-header {
    background-color: rgba(255, 255, 255, .25);
    border-top: 5px solid #0071bc;
    height: 150px;
}

.pfs-logo,
.pfs-logo-text {
    display: inline-block;
    color: #fff;
}

.pfs-logo-text {
    margin: 32px 0 0 -15px;
}

.pfs-logo-text p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    line-height: 21px;
}

.pfs-header-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 80%;
}

.pfs-footer {
    background-color: rgba(255, 255, 255, .70);
    bottom: 0;
    color: #333;
    height: 50px;
    left: 0;
    position: fixed;
    width: 100%;
}

.pfs-footer p {
    display: inline-block;
    font-size: .75rem;
    padding: 15px;
}

.pfs-btn-primary {
    background-color: rgba(255, 255, 255, 10);
    border: 2px solid #fff;
    color: #333;
    margin: 15px 0;
    height: 50px;
    transition: .25s;
    width: 200px;
}

.pfs-btn-primary:hover {
    background-color: rgba(255, 255, 255, .5);
    border: 2px solid #fff;
}

.pfs-btn-secondary {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    height: 50px;
    margin: 15px 0;
    transition: .25s;
    width: 200px;
}

.pfs-btn-secondary:hover {
    background-color: rgba(255, 255, 255, .50);
    color: #333;
}